:root {
  --font-default: "DM Sans", 'Roboto', Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-image: url("background.png"); */
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 100px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
  width: 100%;
}

.topnav {
  overflow: hidden;
  margin: 3.5% -70px 3.5% 0px;
}

@media screen and (max-width: 800px) {
  .topnav {
    margin: 3.5% -15px 3.5% 0px;
    padding-top: 1rem;
  }
}

.header-logo {
  float: left;
  width: 277px;
  height: 50px;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  margin: 5px 5px 0 0;
  text-decoration: none;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: underline;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: #fe142f;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }

  .header-logo {
    float: left;
    width: 131px;
    height: 28px;
    /* margin-left: 1rem; */
  }
}

main {
  font-size: 130%;
  /* font-weight: bolder; */
  color: black;
  padding-top: 0.5vw;
  /* padding-left: 2vw;
  padding-right: 2vw; */
  margin: 1px 0px 15px;
  border-radius: 2rem;
  text-align: justify;


}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

/* Modal form */

.button,
.thanksButton {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover,
.thanksButton:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

/* Style de la page de remerciements  */

.thanksBground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.thanksContainer {
  padding: 15px 8%;
  margin: 15px auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.thanksBody {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 10px;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}


/* input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  left: 90%;
  width: 17px;
  height: 17px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before,
#thanksClose:before {
  transform: rotate(45deg);
}

.close:after,
#thanksClose:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 20px auto 0px;
  border-radius: 8px;
  /* font-size: 1rem; */
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */
.text-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.hero-section {
  /* min-height: 93vh; suppression de cette valeur de hauteur qui déforme la modale en hauteur inutilement */
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 125px;
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .hero-headline {
    font-size: 80px;
  }
}

@media screen and (max-width: 940px) {
  .hero-headline {
    font-size: 60px;
  }
}

.hero-text {
  width: 146%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  margin-top: 57px;
  padding: 0;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 25px;
  padding: 12px 35px;
  margin: 0;
  margin-top: 59px;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  width: 100%;
  height: 657px;
  display: block;
  padding: 0;
  object-fit: cover;
  /* ajout de l'object-fit:cover pour toujours conserver les proportions de l'image en responsive */
}

@media screen and (max-width: 768px) {
  .btn-signup {
    font-size: 14px
  }

  .hero-img img {
    width: 100%;
    height: 329px;
  }

  .hero-text {
    margin-top: 25px;
  }
}

#firstError,
#lastError,
#emailError,
#birthError,
#quantityError,
#boxCheckError,
#acceptError {
  font-size: 10px;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  transition: 0.3s;
}

/* ======================== fenêtre de remerciements ========================================= */

.thanksBground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.thanksContainer {
  margin: 5% auto;
  width: 100%;
  height: 760px;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 230px;
  display: none;
}

.thanksBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto 50px;
}

.thanksMessage {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 142.6%;
  text-align: center;
  color: #fff;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 60px 0 30px;
}

.hero-section>.btn-signup {
  display: none;
}

footer {
  /* padding-left: 2vw;
  padding-right: 2vw; */
  margin: 0 -60px;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 30px;
  }

  .content {
    margin-top: 80px;
    border-radius: 8px 8px 0 0;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 3px;
    min-width: 340px;
    text-align: justify;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    max-width: 330px;
  }

  .hero-text {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    max-width: 330px;
  }

  .hero-img img {
    border-radius: 8px;
    margin-top: 20px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 0px;
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  .hero-headline {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;
    max-width: 330px;
  }
}

@media screen and (max-width: 390px) {
  .hero-headline {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
  }

  .hero-text {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    max-width: 305px;
  }
}


@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}